@page "/"

<PageTitle>Home</PageTitle>

<div style="
        display: flex;
        justify-content: center;
        height: 100dvh;
        align-items: center;
      ">
    <h1 style="text-shadow: 7px 7px 2px #bfbfbf; font-size: 52px">
        Students Manager
    </h1>
</div>